$brand: #ffe600;
$brand1: #D10708;
$brand2: #EF2853;
$banner-text: #fff;
$black:#000;
$gray: #737373;
$bg:#F6F6F6;

$font:'Dancing Script', cursive;
$universalFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$brandFont:'Oregano', cursive;